html {
    height: 100%;
}

body {
    background: rgba(0, 0, 0, .8) url('images/restaurant.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    text-align: center;
    margin-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CB202D;
    color: white;
    text-align: center;
  }